.App {
  text-align: center;
}

/* Top Navbar */
h1 {
  font-size: 1.5em;
  color: #000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 20px;
}

/* .links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
} */

.top-navbar {
  background: linear-gradient(to right, #666666, #fdf200, #fff);
}

/* General */
.hover-cursor {
  cursor: pointer;
}
