/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

/* Top Navbar */
h1 {
  font-size: 1.5em;
  color: #000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 20px;
  font-size: 1.3em;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* .links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
} */

.top-navbar {
  background: linear-gradient(to right, #666666, #fdf200, #fff);
}

/* General */
.hover-cursor {
  cursor: pointer;
}

/* Home Page */
.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.category-image {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.content-container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  background: transparent;
}

.content-wrapper {
  background: linear-gradient(to right, #666666, #fdf200, #fff);
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .search-bar {
    width: 80vw;
  }
}

@media (max-width: 992px) {
  .image-row {
    justify-content: space-around;
  }
}

.search-bar {
  width: 40vw;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #fff;
  outline: none;
}

.search-button {
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #fdf200;
  color: #000;
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.text-row {
  text-align: center;
  margin-bottom: 3rem;
}

/* Listings Page */

.rental-card-img {
  width: 100%;
  height: 225px;
  display: block;
}

.rental-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
}

.rental-detail-title {
  background-color: #666666;
  color: #FFF;
}


.rental-link {
  text-decoration: none;
}

.rental-text {
  color: #fff;
  background-color: #000;
  border-radius: 0 0 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rental-text:hover {
  background-color: #fdf200;
  color: #000;
}

/*Listings Detail Page */

.additional-images {
  width: 50%;
  height: 250px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 5px;
}

.amenity-item {
  display: block;
  text-indent: -1em;
  padding-left: 1.5em;
}

.amenities-list {
  padding-left: 0;
  list-style-type: disc;
}

.button {
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.button:hover {
  background-color: #fdf200;
  color: #000;
}


.detail-card-left {
  /* display: flex;
  justify-content: left; */
  align-items: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detail-page-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0 2rem;
}

.left-image-container {
  width: 100%;
  height: calc(250px * 2 + 10px);
}


.section-divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  margin: 1.5rem 0;
}

/* Form */

.forms {
  position: relative;
  top: 25px;
}

.Pic {
  width: 70%;
  height: auto;
  padding-top: 20px;
  position: relative;
}
.Pic2 {
  width: 70%;
  height: 70%;
  padding-top: 20px;
  position: relative;
}
.Believe {
  margin-top: -190px;
}

.Contentp{
  width: 100%;
  position: relative;
  top: -60%;
  color: rgba(1, 1, 1, 0.972);
  font-size: 40px;
  margin-top: 10px;
}

.Contentps{
  position: relative;
  top: -30%;
  color: white;
  font-size: 60px;
}
.Contentpg {
  margin-top: -150px;
  margin-bottom: 40px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
 

.forms {
    border: 2px solid black;
    padding: 25px;
    background: url("assets/img/sundowntrees.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
Label{
  color: white;
 }
.form-control{
 opacity: 0.5;
}

.Text {
  margin-top: 15px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

/* Footer */

.footer-link {
  padding-top: 1rem;
  text-decoration: none;
  color: #000;
}

.footer-link:hover {
  text-decoration: none;
  color: #fdf200;
}

.footer-link2 {
  text-decoration: none;
  color: #000;
  padding-top: 1rem;
}

.footer-link2:hover {
  text-decoration: none;
  color: #666666;
}

.site-footer {
  background-image: linear-gradient(to right, #666666, #fdf200, #fff);
  padding: 20px 0;
  margin-top: 0rem;
}