.App {
  text-align: center;
}

/* Top Navbar */
h1 {
  font-size: 1.5em;
  color: #000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 20px;
  font-size: 1.3em;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* .links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
} */

.top-navbar {
  background: linear-gradient(to right, #666666, #fdf200, #fff);
}

/* General */
.hover-cursor {
  cursor: pointer;
}

/* Home Page */
.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.search-bar {
  width: 40vw;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #fff;
  outline: none;
}

.search-button {
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #fdf200;
  color: #000;
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

/* Listings Page */
.rental-card-img {
  width: 100%;
  height: 225px;
}

.rental-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
}
